<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangyh.lamp.sms.dao.SmsTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangyh.lamp.sms.entity.SmsTask">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="template_id" jdbcType="BIGINT" property="templateId"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="source_type" jdbcType="VARCHAR" property="sourceType"/>
        <result column="topic" jdbcType="VARCHAR" property="topic"/>
        <result column="template_params" jdbcType="VARCHAR" property="templateParams"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="draft" jdbcType="BIT" property="draft"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,created_by,create_time,updated_by,update_time,
        template_id, status, source_type, topic, template_params, send_time, content, draft
    </sql>

</mapper>
