<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangyh.lamp.sms.dao.SmsTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangyh.lamp.sms.entity.SmsTemplate">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="provider_type" jdbcType="VARCHAR" property="providerType"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="template_params" jdbcType="VARCHAR" property="templateParams"/>
        <result column="template_code" jdbcType="VARCHAR" property="templateCode"/>
        <result column="sign_name" jdbcType="VARCHAR" property="signName"/>
        <result column="template_describe" jdbcType="VARCHAR" property="templateDescribe"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,created_by,create_time,updated_by,update_time,
        provider_type, app_id, app_secret, url, name, content, template_params, template_code, sign_name, template_describe
    </sql>

</mapper>
