<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback/defaults-async.xml"/>

    <logger name="com.tangyh.lamp.authority.controller" additivity="true" level="${log.level.controller}">
        <appender-ref ref="ASYNC_CONTROLLER_APPENDER"/>
    </logger>
    <logger name="com.tangyh.lamp.authority.service" additivity="true" level="${log.level.service}">
        <appender-ref ref="ASYNC_SERVICE_APPENDER"/>
    </logger>
    <logger name="com.tangyh.lamp.authority.dao" additivity="false" level="${log.level.dao}">
        <appender-ref ref="ASYNC_DAO_APPENDER"/>
    </logger>

</configuration>
