<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.file.dao.ShareFileMapper">


    <resultMap id="ShareFileResult" type="com.github.zuihou.file.dto.ShareFileDTO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="data_type" jdbcType="VARCHAR" property="dataType"/>
        <result column="submitted_file_name" jdbcType="VARCHAR" property="submittedFileName"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <select id="page" resultMap="ShareFileResult" parameterType="java.util.Map">
        SELECT f.id,f.submitted_file_name,f.size,f.update_time,f.url,f.data_type,f.icon
        from f_file f INNER JOIN f_share_file s on f.id = s.file_id
        where f.is_delete = 0
        and s.share_id = #{data.id, jdbcType=BIGINT}
        <if test="data.name != null and data.name != ''">
            and f.submitted_file_name like #{data.name, typeHandler=fullLike}
        </if>
        order by f.update_time desc
    </select>
</mapper>
