<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 服务器运行时，在bootstrap.yml中通过 logging.config=classpath:logback-spring.xml文件，
    表示服务器运行时，日志异步打印出来，增加服务器的效率 -->
    <include resource="logback/defaults-async.xml"/>

    <logger name="com.tangyh.lamp.gateway" additivity="true" level="INFO">
        <appender-ref ref="ASYNC_CONTROLLER_APPENDER"/>
    </logger>

</configuration>
