<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.authority.dao.common.LoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zuihou.authority.entity.common.LoginLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="request_ip" jdbcType="VARCHAR" property="requestIp"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="ua" jdbcType="VARCHAR" property="ua"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="operating_system" jdbcType="VARCHAR" property="operatingSystem"/>
        <result column="browser" jdbcType="VARCHAR" property="browser"/>
        <result column="browser_version" jdbcType="VARCHAR" property="browserVersion"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, create_user,
        request_ip, user_name, user_id, account, description, login_time, ua, location,
        operating_system, browser, browser_version
    </sql>

</mapper>
