<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.authority.dao.auth.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zuihou.authority.entity.auth.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="org_id" jdbcType="BIGINT" property="org"/>
        <result column="station_id" jdbcType="BIGINT" property="station"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="position_status" jdbcType="VARCHAR" property="positionStatus"/>
        <result column="work_describe" jdbcType="VARCHAR" property="workDescribe"/>
        <result column="password_error_last_time" jdbcType="TIMESTAMP" property="passwordErrorLastTime"/>
        <result column="password_error_num" jdbcType="INTEGER" property="passwordErrorNum"/>
        <result column="password_expire_time" jdbcType="TIMESTAMP" property="passwordExpireTime"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user, create_time, update_user, update_time,
        account, name, org_id, station_id, email, mobile, sex, status, avatar, nation, education, position_status, work_describe, password_error_last_time, password_error_num, password_expire_time, password, last_login_time
    </sql>

</mapper>
