<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.authority.dao.auth.ApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zuihou.authority.entity.auth.Application">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="app_key" jdbcType="VARCHAR" property="appKey"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="index_url" jdbcType="VARCHAR" property="indexUrl"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="logo_url" jdbcType="VARCHAR" property="logoUrl"/>
        <result column="describe_" jdbcType="VARCHAR" property="describe"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="sort_value" jdbcType="INTEGER" property="sortValue"/>
        <result column="is_enable" jdbcType="BIT" property="isEnable"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user, create_time, update_user, update_time, 
        app_key, app_secret, index_url, name, logo_url, describe_, code, sort_value, is_enable
    </sql>

</mapper>
