<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.authority.dao.auth.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zuihou.authority.entity.auth.Menu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="describe_" jdbcType="VARCHAR" property="describe"/>
        <result column="is_public" jdbcType="BIT" property="isPublic"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="is_enable" jdbcType="BIT" property="isEnable"/>
        <result column="sort_value" jdbcType="INTEGER" property="sortValue"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="group_" jdbcType="VARCHAR" property="group"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user, create_time, update_user, update_time,
        label, describe_, is_public, path, component, is_enable, sort_value, icon, group_, parent_id
    </sql>

</mapper>
