<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.authority.dao.auth.SystemApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zuihou.authority.entity.auth.SystemApi">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="describe_" jdbcType="VARCHAR" property="describe"/>
        <result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="content_type" jdbcType="VARCHAR" property="contentType"/>
        <result column="service_id" jdbcType="VARCHAR" property="serviceId"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="is_persist" jdbcType="BIT" property="isPersist"/>
        <result column="is_auth" jdbcType="BIT" property="isAuth"/>
        <result column="is_open" jdbcType="BIT" property="isOpen"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="method_name" jdbcType="VARCHAR" property="methodName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user, create_time, update_user, update_time, 
        code, name, describe_, request_method, content_type, service_id, path, status, is_persist, is_auth, is_open, class_name, method_name
    </sql>

</mapper>
