<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.demo.dao.CCommonAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zuihou.demo.entity.CCommonArea">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="sort_value" jdbcType="INTEGER" property="sortValue"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, create_user, update_time, update_user, 
        name, code, full_name, sort_value, longitude, latitude, level, tenant_id, parent_id, parent_code
    </sql>

</mapper>
