<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.msgs.dao.MsgsCenterInfoReceiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zuihou.msgs.entity.MsgsCenterInfoReceive">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="msgs_center_id" jdbcType="BIGINT" property="msgsCenterId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="is_read" jdbcType="BIT" property="isRead"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, create_user, update_user, update_time, 
        msgs_center_id, user_id, is_read
    </sql>

</mapper>
