<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangyh.lamp.demo.dao.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangyh.lamp.demo.entity.Product">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="type_" jdbcType="LONGVARCHAR" property="type"/>
        <result column="type2" jdbcType="LONGVARCHAR" property="type2"/>
        <result column="type3" jdbcType="VARCHAR" property="type3"/>
        <result column="state" jdbcType="BIT" property="state"/>
        <result column="test4" jdbcType="TINYINT" property="test4"/>
        <result column="test5" jdbcType="DATE" property="test5"/>
        <result column="test6" jdbcType="TIMESTAMP" property="test6"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="sort_value" jdbcType="INTEGER" property="sortValue"/>
        <result column="test7" jdbcType="CHAR" property="test7"/>
        <result column="user_id" jdbcType="BIGINT" property="user"/>
        <result column="org_id" jdbcType="BIGINT" property="org"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,created_by,update_time,updated_by,
        name, stock, type_, type2, type3, state, test4, test5, test6, parent_id, label, sort_value, test7, user_id, org_id
    </sql>

</mapper>
