<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangyh.lamp.authority.dao.common.OptLogExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangyh.lamp.authority.entity.common.OptLogExt">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="params" jdbcType="LONGVARCHAR" property="params"/>
        <result column="result" jdbcType="LONGVARCHAR" property="result"/>
        <result column="ex_detail" jdbcType="LONGVARCHAR" property="exDetail"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,create_time,created_by,
        params, result, ex_detail
    </sql>

</mapper>
