<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zuihou.authority.dao.defaults.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.zuihou.authority.entity.defaults.Tenant">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="readonly" jdbcType="BIT" property="readonly"/>
        <result column="duty" jdbcType="VARCHAR" property="duty"/>
        <result column="expiration_time" jdbcType="TIMESTAMP" property="expirationTime"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="describe_" jdbcType="VARCHAR" property="describe"/>
        <result column="password_expire" jdbcType="INTEGER" property="passwordExpire"/>
        <result column="is_multiple_login" jdbcType="BIT" property="isMultipleLogin"/>
        <result column="password_error_num" jdbcType="INTEGER" property="passwordErrorNum"/>
        <result column="password_error_lock_time" jdbcType="VARCHAR" property="passwordErrorLockTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, create_user, update_time, update_user,
        code, name, type, status, readonly, duty, expiration_time, logo, describe_, password_expire, is_multiple_login, password_error_num, password_error_lock_time
    </sql>

</mapper>
