[mysql]
default-character-set=utf8mb4

[mysqld]
federated
default-storage-engine=INNODB
character_set_server=utf8mb4

datadir = /var/lib/mysql
port = 3306
socket = /var/run/mysqld/mysqld.sock
lower_case_table_names=1
ft_min_word_len=1
max_allowed_packet=100M
default_password_lifetime = 0

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
max_connections = 32000
