[mysql]
default-character-set=utf8mb4

[mysqld]
federated
default-storage-engine=INNODB
character_set_server=utf8mb4
collation-server = utf8mb4_general_ci

datadir = /var/lib/mysql
port = 3306
socket = /var/run/mysqld/mysqld.sock
lower_case_table_names=1
ft_min_word_len=1
# SQL数据包发送的大小，如果有BLOB对象建议修改成1G
max_allowed_packet=128M

innodb_buffer_pool_size=4G

innodb_data_file_path=ibdata1:1024M:autoextend:max:1G
innodb_temp_data_file_path=ibtmp1:12M:autoextend:max:1G
default_password_lifetime = 0

max_connections = 32000
max_user_connections=500

# MySQL连接闲置超过一定时间后(单位：秒)将会被强行关闭
# MySQL默认的wait_timeout  值为8个小时, interactive_timeout参数需要同时配置才能生效
interactive_timeout = 1800
wait_timeout=1800
default_authentication_plugin=mysql_native_password

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
