<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="com/github/zuihou/log/logback/zuihou-defaults.xml"/>

    <springProfile name="test,docker,prod">
        <logger name="com.github.zuihou.gateway" additivity="true" level="INFO">
            <appender-ref ref="ASYNC_CONTROLLER_APPENDER"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <logger name="com.github.zuihou.gateway" additivity="true" level="INFO">
            <appender-ref ref="CONTROLLER_APPENDER"/>
        </logger>
    </springProfile>

</configuration>
