<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.authority.dao.auth.MenuMapper">
    <!-- 通用查询结果列 -->
    <sql id="V_Column_List">
        id,  label, path, component, state, sort_value, icon, group_, parent_id, resource_type,  tree_grade, tree_path
    </sql>

    <select id="findVisibleMenu" parameterType="map"
            resultMap="BaseResultMap">
        SELECT
        <include refid="V_Column_List"/>
        from (
        SELECT
        <include refid="V_Column_List"/>
        from c_menu where state = 1 and is_general = 1 and resource_type = '20'
        UNION ALL
        SELECT
        <include refid="V_Column_List"/>
        from c_menu where state = 1 and is_general = 0
        and id in (
        SELECT distinct authority_id FROM c_role_authority ra
        INNER JOIN c_user_role ura on ra.role_id = ura.role_id
        INNER JOIN c_role r on r.id = ra.role_id
        where ura.user_id = #{userId, jdbcType=BIGINT} and r.state = 1
        and ra.authority_type = 'MENU'
        and c_menu.resource_type = '20'
        )
        ) tmp ORDER BY sort_value asc
    </select>


</mapper>
