<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.authority.dao.auth.MenuMapper">
    <!-- 通用查询结果列 -->
    <sql id="V_Column_List">
        id,  label, path, component, state, sort_value, icon, group_, parent_id, resource_type,  tree_grade, tree_path
    </sql>

    <select id="findVisibleMenu" parameterType="map"
            resultMap="BaseResultMap">
        SELECT
        <include refid="V_Column_List"/>
        from (
        SELECT
        <include refid="V_Column_List"/>
        from c_menu where state = true and is_general = true and resource_type = '20'
        UNION ALL
        SELECT
        <include refid="V_Column_List"/>
        from c_menu where state = true and is_general = false
        and id in (
        SELECT distinct authority_id FROM c_role_authority ra
        INNER JOIN c_user_role ur on ra.role_id = ur.role_id
        INNER JOIN c_role r on r.id = ra.role_id
        where ur.user_id = #{userId, jdbcType=BIGINT} and r.state = true
        and ra.authority_type = 'MENU'
        and c_menu.resource_type = '20'
        )
        ) tmp ORDER BY sort_value asc
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="DataScopeResultMap" type="top.tangyh.lamp.authority.entity.auth.ResourceDataScope">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sort_value" jdbcType="INTEGER" property="sortValue"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="data_scope" jdbcType="CHAR" property="dataScope"/>
        <result column="custom_class" jdbcType="VARCHAR" property="customClass"/>
        <result column="is_def" jdbcType="BIT" property="isDef"/>
    </resultMap>

    <sql id="DataScope_R_Column_List">
        r.id,r.label,r.parent_id,r.sort_value,r.created_by,r.create_time,r.updated_by,r.update_time,
        r.data_scope, r.custom_class, r.is_def,  r.tree_grade, r.tree_path
    </sql>
    <select id="getDataScopeByPath" parameterType="java.util.Map" resultMap="DataScopeResultMap">
        SELECT
        <include refid="DataScope_R_Column_List"/>
        FROM c_menu r
        LEFT JOIN c_menu menu on menu.id = r.parent_id
        WHERE menu.path = #{path}
        and menu.state = true
        and r.id in
        <foreach close=")" collection="idList" item="id" open="(" separator=",">
            #{id}
        </foreach>
        ORDER BY r.sort_value ASC LIMIT 1
    </select>

    <select id="getDefDataScopeByPath" parameterType="java.util.Map" resultMap="DataScopeResultMap">
        SELECT
        <include refid="DataScope_R_Column_List"/>
        FROM c_menu r
        LEFT JOIN c_menu menu on menu.id = r.parent_id
        WHERE menu.path = #{path}
        and menu.state = true
        and r.is_def = true
        ORDER BY r.sort_value ASC LIMIT 1
    </select>

</mapper>
