<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangyh.lamp.authority.dao.auth.ResourceMapper">

    <select id="findVisibleResource" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from c_resource where 1=1
        and id in (
        SELECT authority_id FROM c_role_authority ra INNER JOIN c_user_role ur on ra.role_id = ur.role_id
        INNER JOIN c_role r on r.id = ra.role_id
        where ur.user_id = #{userId, jdbcType=BIGINT} and r.`state` = true
        and ra.authority_type = 'RESOURCE'
        )
    </select>

    <insert id="saveOrUpdateUnique" parameterType="com.tangyh.lamp.authority.entity.auth.Resource">
    insert into c_resource ( id, created_by, create_time, updated_by, update_time,
        code, name, menu_id, describe_)
    values (#{id,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},#{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP},
      #{code,jdbcType=VARCHAR},  #{name,jdbcType=VARCHAR}, #{menuId,jdbcType=BIGINT}, #{tags,jdbcType=VARCHAR},  #{describe,jdbcType=VARCHAR}   )
    ON DUPLICATE KEY UPDATE
      name = #{name,jdbcType=VARCHAR},
      describe_ = #{describe,jdbcType=VARCHAR},
      updated_by = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    </insert>

    <select id="findMenuIdByResourceId" parameterType="map" resultType="java.lang.Long">
        SELECT DISTINCT menu_id from c_resource where id in
        <foreach close=")" collection="resourceIdList" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
