<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.userinfo.dao.ResourceHelperMapper">
    <select id="findVisibleResource" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from c_resource where 1=1
        and id in (
        SELECT authority_id FROM c_role_authority ra INNER JOIN c_user_role ura on ra.role_id = ura.role_id
        INNER JOIN c_role r on r.id = ra.role_id
        where ura.user_id = #{userId, jdbcType=BIGINT} and r.state = 1
        and ra.authority_type = 'RESOURCE'
        )
    </select>
</mapper>
