<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.userinfo.dao.RoleHelperMapper">

    <select id="selectRoleCodeFromRoleByUserId" parameterType="map" resultType="java.lang.String">
        SELECT DISTINCT r.code
        FROM c_role r
                 INNER JOIN c_user_role err on err.role_id = r.id
        WHERE err.user_id = #{userId}
          and r.state = 1
    </select>

    <select id="countRoleFormRole" parameterType="map" resultType="java.lang.Long">
        select count(r.id) from c_role r inner join c_user_role berr on berr.role_id = r.id
        where r.state = 1 and r.code in
        <foreach close=")" collection="codes" item="id" open="(" separator=",">
            #{id}
        </foreach>
        and berr.user_id = #{userId}
    </select>

    <select id="selectResourceIdFromRoleByUserId" parameterType="map" resultType="java.lang.Long">
        SELECT DISTINCT rrr.authority_id
        FROM c_role_authority rrr
        INNER JOIN c_role r on r.id = rrr.role_id
        INNER JOIN c_user_role err on err.role_id = r.id
        <where>
            and err.user_id = #{userId}
            and r.state = 1
        </where>
    </select>
</mapper>
